@charset "utf-8";

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
th,td {
    padding: 5px;
    border: solid 1px;
}
th{
    background: yellowgreen;
}
tr:nth-child(odd){
    background:azure;
}
.nowrap{
    white-space: nowrap;
}
.none{
    border: 0px;
    background: #fff;
}